body {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  width: 600px;
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
  margin-top: 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 15px 0;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 0;
}

p {
  margin: 15px 0;
}

a {
  color: #cc9c28;
  font-weight: 900;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #131313;
}

.bigh1 {
  font-size: 80px;
  font-weight: 900;
  display: block;
}

.bigh2 {
  font-size: 60px;
  font-weight: 900;
  display: block;
}

.small {
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

.intro {
  background-color: black;
  color: whitesmoke;
}

img {
  margin: 0 auto;
  max-width: 600px;
}

.about-me {
  background-color: whitesmoke;
  color: black;
}

.greeting {
  background-color: whitesmoke;
  color: black;
}

.intro {
  padding-top: 70px;
}

.about,
.prosjekter {
  padding: 100px 0;
}

.intro {
  background-color: #d7d7d7;
}
.about {
  background-color: #ffeaea;
}
.projects {
  background-color: #eaf9ff;
}

.intro,
.prosjekter {
  background-color: #252525;
  color: #fff;
}

.hilsen {
  display: block;
}
