body {
  text-align: center;
  font-family: Roboto, sans-serif;
  background-color: black;
  color: whitesmoke;
  font-size: 21px;
  font-weight: 300;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
}

.bigh1 {
  font-size: 80px;
  font-weight: 900;
  display: block;
}

.bigh2 {
  font-size: 60px;
  font-weight: 900;
  display: block;
}

.small {
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

.intro {
  background-color: black;
  color: whitesmoke;
}

.img {
  margin: 0 auto;
}

.about-me {
  background-color: whitesmoke;
  color: black;
}

.greeting {
  background-color: whitesmoke;
  color: black;
}
