body {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img {
  margin: 0 auto;
  max-width: 600px;
}

p {
  margin: 15px 0;
}

a {
  color: #cc9c28;
  font-weight: 900;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #131313;
}

/*TYPOGRAFI*/

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
  margin-top: 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 15px 0;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 0;
}

/*LAYOUT*/

.container {
  width: 600px;
  margin: 0 auto;
}

.about,
.prosjekter {
  padding: 100px 0;
}

/*AVATAR HOVER COMPONENT*/

.avatar-hover {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 40px auto;
  overflow: hidden;
}

.static-image,
.hover-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.hover-video {
  opacity: 0;
}

.avatar-hover:hover .static-image {
  opacity: 0;
}

.avatar-hover:hover .hover-video {
  opacity: 1;
}

/*UTILITY CLASSES*/

.bigh1 {
  font-size: 80px;
  font-weight: 900;
  display: block;
}

.bigh2 {
  font-size: 60px;
  font-weight: 900;
  display: block;
}

.small {
  font-size: 16px;
}

.hilsen {
  display: block;
}

/*SEKSJONS-STIL*/

.intro {
  padding-top: 70px;
  background-color: #252525;
  color: #fff;
}

.about-me {
  background-color: whitesmoke;
  color: black;
}

.greeting {
  background-color: whitesmoke;
  color: black;
}

.about {
  background-color: #ffeaea;
}

.projects {
  background-color: #eaf9ff;
}

.prosjekter {
  background-color: #252525;
  color: #fff;
}
