body {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #222222;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-image: url(images/bakgrunn_cherry1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  margin: 0 auto;
  max-width: 600px;
}

p {
  margin: 10px 0;
}

a {
  color: #ee9ba0;
  font-weight: 900;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #cb2298;
}

/*TYPOGRAFI*/

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 3.75 rem;
}

h2 {
  font-size: 2.625 rem;
  margin-top: 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 15px 0;
}

h3 {
  font-size: 2.25 rem;
  font-weight: 900;
  margin-top: 0;
}

/*LAYOUT*/

.container {
  width: 700px;
  margin: 0 auto;
}

.about,
.prosjekter {
  margin-top: 120px;
  margin-bottom: 50px;
}

/*AVATAR HOVER COMPONENT*/

.static-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  display: block;
}

/*UTILITY CLASSES*/

.bigh1 {
  font-size: 80px;
  font-weight: 900;
  display: block;
}

.bigh1:hover {
  color: #f15a7f;
  text-decoration: underline;
}

.bigh2 {
  font-size: 60px;
  font-weight: 900;
  display: block;
}

.small {
  font-size: 1rem;
}

.hilsen {
  display: block;
}

/*SEKSJONS-STIL*/

.intro {
  padding-top: 70px;
  margin-bottom: 60px;
}

.about {
  background-color: #f4b5b9;
  color: black;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
}

.prosjekter {
  color: black;
}
.prosjekt-liste {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  max-width: 600px;
}

.prosjekt-liste li {
  background: #333;
  padding: 18px 25px;
  margin: 18px 0;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.2s ease, background 0.3s ease;
}
